<a href="https://colab.research.google.com/github/elabedimene/Association_rules/blob/main/ML_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
import numpy as np

In [81]:
from google.colab import drive
drive.mount('/content/drive')
#data = pd.read_csv("/content/drive/MyDrive/ML/market_basket.csv") 
data = pd.read_csv("/content/drive/MyDrive/ML/market_basket.txt", delimiter="\t")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [82]:
data.describe()

                 ID
count  12935.000000
mean     645.854349
std      380.355489
min        1.000000
25%      287.000000
50%      654.000000
75%      961.000000
max     1361.000000

In [83]:
#2-Afficher les 10 premières lignes du DataFrame.
data.head(10)

   ID                   Product
0   1                   Peaches
1   2             Vegetable_Oil
2   2               Frozen_Corn
3   3                     Plums
4   4               Pancake_Mix
5   5                    Cheese
6   6               Cauliflower
7   7                 2pct_Milk
8   8  98pct_Fat_Free_Hamburger
9   8              Potato_Chips

In [84]:
#3-Afficher les dimensions du dataframe.
data.shape

(12935, 2)

In [110]:
# 5-Tester la bibliothèque pandas.crosstab pour construire la table binaire et vérifier que vous avez les mêmes résultats de votre script.
cross_tab = pd.crosstab(data['ID'], data['Product'])
cross_tab

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,1,1,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1360,1,0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
1361,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
#6-Afficher les 30 premières transactions 
data.ID.head(30)

0      1
1      2
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      8
10     8
11     8
12     8
13     8
14     8
15     8
16     8
17     8
18     8
19     8
20     8
21     8
22     8
23     8
24     8
25     9
26    10
27    11
28    11
29    12
Name: ID, dtype: int64

In [88]:
# 6-afficher les 3 premiers produits
data.Product.head(3)

0          Peaches
1    Vegetable_Oil
2      Frozen_Corn
Name: Product, dtype: object

In [89]:
from mlxtend.frequent_patterns import apriori

In [90]:
#7-fonction a_priori() qui permet l’extraction des itemsets les plus fréquents. ( on définit un min_supp=0.025 et un longueur maximum de 4 produits)
frequent_itemsets = apriori(cross_tab, min_support=0.025, max_len=4, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.030147                               (100_Watt_Lightbulb)
1    0.109559                                        (2pct_Milk)
2    0.037500                                (60_Watt_Lightbulb)
3    0.031618                                (75_Watt_Lightbulb)
4    0.093382                         (98pct_Fat_Free_Hamburger)
..        ...                                                ...
598  0.025735                (Toothpaste, White_Bread, Tomatoes)
599  0.026471             (Toothpaste, Wheat_Bread, White_Bread)
600  0.026471       (Eggs, White_Bread, Potato_Chips, 2pct_Milk)
601  0.025735         (Eggs, Toothpaste, White_Bread, 2pct_Milk)
602  0.025000  (Potato_Chips, Toothpaste, White_Bread, 2pct_M...

[603 rows x 2 columns]

In [91]:
#8-Afficher les 15 premiers itemsets
frequent_itemsets.head(15)

     support                    itemsets
0   0.030147        (100_Watt_Lightbulb)
1   0.109559                 (2pct_Milk)
2   0.037500         (60_Watt_Lightbulb)
3   0.031618         (75_Watt_Lightbulb)
4   0.093382  (98pct_Fat_Free_Hamburger)
5   0.031618         (AA_Cell_Batteries)
6   0.025735    (Apple_Cinnamon_Waffles)
7   0.026471               (Apple_Drink)
8   0.031618          (Apple_Fruit_Roll)
9   0.032353                 (Apple_Jam)
10  0.033088               (Apple_Jelly)
11  0.032353               (Apple_Sauce)
12  0.053676                    (Apples)
13  0.066912                   (Aspirin)
14  0.027941               (Avocado_Dip)

In [92]:
#9-Ecrire une fonction is_inclus() qui permet de vérifier si un sous-ensemble items est inclus dans l’ensemble x.
def is_include(items , X):
  return items.issubset(X)

In [93]:
#10-Afficher les itemsets comprenant le produit ‘Aspirin’.
for trs in frequent_itemsets.itemsets : 
  if trs.__contains__('Aspirin') : print(tuple(trs))

('Aspirin',)
('Aspirin', '2pct_Milk')
('Aspirin', '98pct_Fat_Free_Hamburger')
('Cola', 'Aspirin')
('Aspirin', 'Domestic_Beer')
('Eggs', 'Aspirin')
('Aspirin', 'Hot_Dogs')
('Onions', 'Aspirin')
('Aspirin', 'Pepperoni_Pizza_-_Frozen')
('Aspirin', 'Popcorn_Salt')
('Potato_Chips', 'Aspirin')
('Potatoes', 'Aspirin')
('Aspirin', 'Sweet_Relish')
('Toilet_Paper', 'Aspirin')
('Aspirin', 'Tomatoes')
('Toothpaste', 'Aspirin')
('Aspirin', 'Wheat_Bread')
('Aspirin', 'White_Bread')
('Eggs', 'Aspirin', '2pct_Milk')
('Potato_Chips', 'Aspirin', '2pct_Milk')
('Aspirin', 'White_Bread', '2pct_Milk')
('Eggs', 'Aspirin', 'Potato_Chips')
('Eggs', 'Aspirin', 'White_Bread')
('Potato_Chips', 'Aspirin', 'White_Bread')
('Potatoes', 'Aspirin', 'White_Bread')
('Toothpaste', 'Aspirin', 'White_Bread')

In [94]:
#11-Afficher les itemsets contenant Aspirin et Eggs
for trs in frequent_itemsets.itemsets : 
   if set(('Aspirin','Eggs')).issubset(trs) :print(trs)

frozenset({'Eggs', 'Aspirin'})
frozenset({'Eggs', 'Aspirin', '2pct_Milk'})
frozenset({'Eggs', 'Aspirin', 'Potato_Chips'})
frozenset({'Eggs', 'Aspirin', 'White_Bread'})

In [95]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [117]:
#12-
from mlxtend.frequent_patterns import association_rules
association_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)
association_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Aspirin, 2pct_Milk)",(White_Bread),0.034559,0.119118,0.027206,0.787234,6.608878,0.023089,4.140147
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
2,"(Bananas, 2pct_Milk)",(White_Bread),0.031618,0.119118,0.025735,0.813953,6.833190,0.021969,4.734743
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
4,"(Popcorn_Salt, 2pct_Milk)",(Eggs),0.033088,0.122794,0.027206,0.822222,6.695941,0.023143,4.934283
5,"(Potato_Chips, 2pct_Milk)",(Eggs),0.044853,0.122794,0.033824,0.754098,6.141160,0.028316,3.567304
6,"(Tomatoes, 2pct_Milk)",(Eggs),0.032353,0.122794,0.025735,0.795455,6.477953,0.021763,4.288562
7,"(Eggs, Wheat_Bread)",(2pct_Milk),0.040441,0.109559,0.030882,0.763636,6.970104,0.026452,3.767251
8,"(Onions, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.028676,0.829787,7.573897,0.024890,5.231342
9,"(Potato_Chips, Toothpaste)",(2pct_Milk),0.037500,0.109559,0.028676,0.764706,6.979866,0.024568,3.784375
10,"(Potatoes, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025000,0.772727,7.053081,0.021455,3.917941
11,"(Potatoes, 2pct_Milk)",(White_Bread),0.038235,0.119118,0.029412,0.769231,6.457740,0.024857,3.817157
12,"(Tomatoes, 2pct_Milk)",(White_Bread),0.032353,0.119118,0.025735,0.795455,6.677890,0.021881,4.306536
13,"(Toothpaste, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.027941,0.808511,7.379694,0.024155,4.650082
14,"(Toothpaste, 2pct_Milk)",(White_Bread),0.043382,0.119118,0.033088,0.762712,6.403013,0.027921,3.712290
15,"(Potatoes, 98pct_Fat_Free_Hamburger)",(Eggs),0.032353,0.122794,0.025000,0.772727,6.292869,0.021027,3.859706
16,"(Hamburger_Buns, White_Bread)",(98pct_Fat_Free_Hamburger),0.034559,0.093382,0.026471,0.765957,8.202379,0.023243,3.873730
17,"(Wheat_Bread, 98pct_Fat_Free_Hamburger)",(White_Bread),0.029412,0.119118,0.026471,0.900000,7.555556,0.022967,8.808824
18,"(Eggs, Aspirin)",(White_Bread),0.038235,0.119118,0.029412,0.769231,6.457740,0.024857,3.817157
19,"(Potato_Chips, Aspirin)",(White_Bread),0.036029,0.119118,0.027206,0.755102,6.339128,0.022914,3.596936
20,"(Potatoes, Aspirin)",(White_Bread),0.030147,0.119118,0.025000,0.829268,6.961759,0.021409,5.159454
21,"(Toothpaste, Aspirin)",(White_Bread),0.030882,0.119118,0.025735,0.833333,6.995885,0.022057,5.285294
22,"(Cola, Wheat_Bread)",(White_Bread),0.032353,0.119118,0.025000,0.772727,6.487093,0.021146,3.875882
23,"(Potatoes, Hot_Dogs)",(Eggs),0.032353,0.122794,0.025000,0.772727,6.292869,0.021027,3.859706
24,"(White_Bread, Pepperoni_Pizza_-_Frozen)",(Eggs),0.033824,0.122794,0.025735,0.760870,6.196303,0.021582,3.668316
25,"(Potatoes, Popcorn_Salt)",(Eggs),0.030882,0.122794,0.025000,0.809524,6.592529,0.021208,4.605331
26,"(Popcorn_Salt, White_Bread)",(Eggs),0.035294,0.122794,0.027206,0.770833,6.277445,0.022872,3.827807
27,"(Potatoes, Sweet_Relish)",(Eggs),0.036029,0.122794,0.028676,0.795918,6.481730,0.024252,4.298309
28,"(White_Bread, Sugar_Cookies)",(Eggs),0.035294,0.122794,0.027206,0.770833,6.277445,0.022872,3.827807
29,"(Hot_Dog_Buns, Sweet_Relish)",(Hot_Dogs),0.036029,0.092647,0.030147,0.836735,9.031422,0.026809,5.557537
30,"(Potato_Chips, Onions)",(White_Bread),0.036029,0.119118,0.027206,0.755102,6.339128,0.022914,3.596936
31,"(Toothpaste, Onions)",(White_Bread),0.035294,0.119118,0.027206,0.770833,6.471193,0.023002,3.843850
32,"(Potato_Chips, Tomatoes)",(White_Bread),0.032353,0.119118,0.025735,0.795455,6.677890,0.021881,4.306536
33,"(Toothpaste, Potato_Chips)",(White_Bread),0.037500,0.119118,0.030147,0.803922,6.748971,0.025680,4.492500
34,"(Potato_Chips, Wheat_Bread)",(White_Bread),0.033824,0.119118,0.027206,0.804348,6.752550,0.023177,4.502288
35,"(Toilet_Paper, Potatoes)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
36,"(Toothpaste, Potatoes)",(White_Bread),0.032353,0.119118,0.025735,0.795455,6.677890,0.021881,4.306536
37,"(Toothpaste, Toilet_Paper)",(White_Bread),0.029412,0.119118,0.025735,0.875000,7.345679,0.022232,7.047059
38,"(Toothpaste, Tomatoes)",(White_Bread),0.030882,0.119118,0.025735,0.833333,6.995885,0.022057,5.285294
39,"(Toothpaste, Wheat_Bread)",(White_Bread),0.034559,0.119118,0.026471,0.765957,6.430260,0.022354,3.763770
40,"(Eggs, White_Bread, Potato_Chips)",(2pct_Milk),0.033824,0.109559,0.026471,0.782609,7.143274,0.022765,4.096029
41,"(Eggs, Potato_Chips, 2pct_Milk)",(White_Bread),0.033824,0.119118,0.026471,0.782609,6.570048,0.022442,4.052059
42,"(Potato_Chips, White_Bread, 2pct_Milk)",(Eggs),0.033088,0.122794,0.026471,0.800000,6.514970,0.022408,4.386029
43,"(Eggs, Toothpaste, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
44,"(Eggs, Toothpaste, 2pct_Milk)",(White_Bread),0.030882,0.119118,0.025735,0.833333,6.995885,0.022057,5.285294
45,"(Toothpaste, White_Bread, 2pct_Milk)",(Eggs),0.033088,0.122794,0.025735,0.777778,6.333999,0.021672,3.947426
46,"(Potato_Chips, Toothpaste, White_Bread)",(2pct_Milk),0.030147,0.109559,0.025000,0.829268,7.569160,0.021697,5.215441
47,"(Potato_Chips, Toothpaste, 2pct_Milk)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
48,"(Potato_Chips, White_Bread, 2pct_Milk)",(Toothpaste),0.033088,0.079412,0.025000,0.755556,9.514403,0.022372,3.766043
49,"(Toothpaste, White_Bread, 2pct_Milk)",(Potato_Chips),0.033088,0.097794,0.025000,0.755556,7.725982,0.021764,3.690842

In [118]:
# 13-Afficher les 5 premières règles.
association_rules.head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Aspirin, 2pct_Milk)",(White_Bread),0.034559,0.119118,0.027206,0.787234,6.608878,0.023089,4.140147
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
2,"(Bananas, 2pct_Milk)",(White_Bread),0.031618,0.119118,0.025735,0.813953,6.833190,0.021969,4.734743
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
4,"(Popcorn_Salt, 2pct_Milk)",(Eggs),0.033088,0.122794,0.027206,0.822222,6.695941,0.023143,4.934283

In [121]:
# 14-Filtrer les règles en affichant celles qui présentent un LIFT supérieur ou égal à 7
association_rules[association_rules['lift'].ge(7.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
8,"(Onions, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.028676,0.829787,7.573897,0.024890,5.231342
10,"(Potatoes, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025000,0.772727,7.053081,0.021455,3.917941
13,"(Toothpaste, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.027941,0.808511,7.379694,0.024155,4.650082
16,"(Hamburger_Buns, White_Bread)",(98pct_Fat_Free_Hamburger),0.034559,0.093382,0.026471,0.765957,8.202379,0.023243,3.873730
17,"(Wheat_Bread, 98pct_Fat_Free_Hamburger)",(White_Bread),0.029412,0.119118,0.026471,0.900000,7.555556,0.022967,8.808824
29,"(Hot_Dog_Buns, Sweet_Relish)",(Hot_Dogs),0.036029,0.092647,0.030147,0.836735,9.031422,0.026809,5.557537
35,"(Toilet_Paper, Potatoes)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
37,"(Toothpaste, Toilet_Paper)",(White_Bread),0.029412,0.119118,0.025735,0.875000,7.345679,0.022232,7.047059
40,"(Eggs, White_Bread, Potato_Chips)",(2pct_Milk),0.033824,0.109559,0.026471,0.782609,7.143274,0.022765,4.096029
43,"(Eggs, Toothpaste, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
46,"(Potato_Chips, Toothpaste, White_Bread)",(2pct_Milk),0.030147,0.109559,0.025000,0.829268,7.569160,0.021697,5.215441
47,"(Potato_Chips, Toothpaste, 2pct_Milk)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
48,"(Potato_Chips, White_Bread, 2pct_Milk)",(Toothpaste),0.033088,0.079412,0.025000,0.755556,9.514403,0.022372,3.766043
49,"(Toothpaste, White_Bread, 2pct_Milk)",(Potato_Chips),0.033088,0.097794,0.025000,0.755556,7.725982,0.021764,3.690842

In [120]:
# 15-Filtrer les règles en affichant celles menant au conséquent {‘2pct_milk’}
association_rules[association_rules['consequents'].eq({'2pct_Milk'})]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
7,"(Eggs, Wheat_Bread)",(2pct_Milk),0.040441,0.109559,0.030882,0.763636,6.970104,0.026452,3.767251
8,"(Onions, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.028676,0.829787,7.573897,0.024890,5.231342
9,"(Potato_Chips, Toothpaste)",(2pct_Milk),0.037500,0.109559,0.028676,0.764706,6.979866,0.024568,3.784375
10,"(Potatoes, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025000,0.772727,7.053081,0.021455,3.917941
13,"(Toothpaste, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.027941,0.808511,7.379694,0.024155,4.650082
40,"(Eggs, White_Bread, Potato_Chips)",(2pct_Milk),0.033824,0.109559,0.026471,0.782609,7.143274,0.022765,4.096029
43,"(Eggs, Toothpaste, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
46,"(Potato_Chips, Toothpaste, White_Bread)",(2pct_Milk),0.030147,0.109559,0.025000,0.829268,7.569160,0.021697,5.215441